src/main/resources/ExternalServices.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="ExternalServices" targetNamespace="urn:com.redhat.brq.integration.excercise:1.0" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="urn:com.redhat.brq.integration.excercise:1.0" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="urn:com.redhat.brq.integration.excercise:1.0" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="urn:com.redhat.brq.integration.excercise:1.0">
  <xs:element name="address" type="tns:address"/>
  <xs:complexType name="inventoryReply">
    <xs:sequence>
      <xs:element name="articleId" type="xs:long"/>
      <xs:element name="left" type="xs:int"/>
      <xs:element name="reserved" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="address">
    <xs:sequence>
      <xs:element minOccurs="0" name="firstName" type="xs:string"/>
      <xs:element minOccurs="0" name="lastName" type="xs:string"/>
      <xs:element minOccurs="0" name="street" type="xs:string"/>
      <xs:element minOccurs="0" name="city" type="xs:string"/>
      <xs:element minOccurs="0" name="zipCode" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="process" type="tns:process"/>
  <xs:complexType name="process">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="inventoryReply" type="tns:inventoryReply"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NewOperation">
  	<xs:complexType>
  		<xs:sequence>
  			<xs:element name="in" type="xs:string"></xs:element>
  		</xs:sequence>
  	</xs:complexType>
  </xs:element>
  <xs:element name="NewOperationResponse">
  	<xs:complexType>
  		<xs:sequence>
  			<xs:element name="out" type="xs:string"></xs:element>
  		</xs:sequence>
  	</xs:complexType>
  </xs:element>
            <xs:element name="order" type="xs:string"></xs:element>
        </xs:schema>
  </wsdl:types>
  <wsdl:message name="process">
    <wsdl:part name="parameters" element="tns:process">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="NewOperationRequest">
  	<wsdl:part name="parameters" element="tns:order"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="NewOperationResponse">
  	<wsdl:part name="parameters" element="tns:NewOperationResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:portType name="InventoryReplyServicePortType">
    <wsdl:operation name="process">
      <wsdl:input name="process" message="tns:process">
    </wsdl:input>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="InventoryServicePortType">
  	<wsdl:operation name="NewOperation">
  		<wsdl:input message="tns:NewOperationRequest"></wsdl:input>
  		<wsdl:output message="tns:NewOperationResponse"></wsdl:output>
  	</wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="InventoryReplyServiceSoapBinding" type="tns:InventoryReplyServicePortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="process">
      <soap:operation soapAction="process" style="document"/>
      <wsdl:input name="process">
        <soap:body use="literal"/>
      </wsdl:input>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="InventoryReplyService">
    <wsdl:port name="InventoryReplyServicePort" binding="tns:InventoryReplyServiceSoapBinding">
      <soap:address location="http://localhost:8080/switchyard-integration-course/InventoryReplyService"/>
    </wsdl:port>
  </wsdl:service>
  <wsdl:service name="InventoryService">
  	<wsdl:port name="NewPort">
  		<soap:address location="http://www.example.org/" />
  	</wsdl:port>
  </wsdl:service>
  <wsdl:service name="AccountingService">
  	<wsdl:port name="NewPort">
  		<soap:address location="http://www.example.org/" />
  	</wsdl:port>
  </wsdl:service>
  <wsdl:service name="ShipmentService">
  	<wsdl:port name="NewPort">
  		<soap:address location="http://www.example.org/" />
  	</wsdl:port>
  </wsdl:service>
</wsdl:definitions>
