src/main/resources/OrderService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="OrderService" targetNamespace="urn:com.redhat.brq.integration.switchyard:1.0"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:tns="urn:com.redhat.brq.integration.switchyard:1.0"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
    <wsdl:types>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="urn:com.redhat.brq.integration.switchyard:1.0"
                   attributeFormDefault="unqualified" elementFormDefault="unqualified"
                   targetNamespace="urn:com.redhat.brq.integration.switchyard:1.0">
            <xs:element name="address" type="tns:address"/>
            <xs:element name="item" type="tns:orderItem"/>
            <xs:element name="order" type="tns:order"/>
            <xs:complexType name="order">
                <xs:sequence>
                    <xs:element minOccurs="0" ref="tns:address"/>
                    <xs:element name="id" type="xs:long"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="items" nillable="true" type="tns:orderItem"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="address">
                <xs:sequence>
                    <xs:element minOccurs="0" name="firstName" type="xs:string"/>
                    <xs:element minOccurs="0" name="lastName" type="xs:string"/>
                    <xs:element minOccurs="0" name="street" type="xs:string"/>
                    <xs:element minOccurs="0" name="city" type="xs:string"/>
                    <xs:element minOccurs="0" name="zipCode" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="orderItem">
                <xs:sequence>
                    <xs:element name="articleId" type="xs:long"/>
                    <xs:element name="count" type="xs:int"/>
                    <xs:element name="unitPrice" type="xs:double"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="orderResponse" nillable="true" type="xs:string"/>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="submitOrderResponse">
        <wsdl:part name="return" element="tns:orderResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="submitOrder">
        <wsdl:part name="arg0" element="tns:order">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="OrderServicePortType">
        <wsdl:operation name="submitOrder">
            <wsdl:input name="submitOrder" message="tns:submitOrder">
            </wsdl:input>
            <wsdl:output name="submitOrderResponse" message="tns:submitOrderResponse">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="OrderServiceSoapBinding" type="tns:OrderServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="submitOrder">
            <soap:operation soapAction="submitOrder"/>
            <wsdl:input name="submitOrder">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="submitOrderResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="OrderService">
        <wsdl:port name="OrderServicePort" binding="tns:OrderServiceSoapBinding">
            <soap:address location="http://localhost:8080/switchyard-integration-course/OrderService"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
