src/main/resources/ShopService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="ShopService" targetNamespace="urn:com.redhat.brq.integration.switchyard:1.0" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="urn:com.redhat.brq.integration.switchyard:1.0" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="urn:com.redhat.brq.integration.switchyard:1.0" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="urn:com.redhat.brq.integration.switchyard:1.0">
  <xs:element name="address" type="tns:address"/>
  <xs:complexType name="order">
    <xs:sequence>
      <xs:element minOccurs="0" ref="tns:address"/>
      <xs:element name="id" type="xs:long"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="items" nillable="true" type="tns:orderItem"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="address">
    <xs:sequence>
      <xs:element minOccurs="0" name="firstName" type="xs:string"/>
      <xs:element minOccurs="0" name="lastName" type="xs:string"/>
      <xs:element minOccurs="0" name="street" type="xs:string"/>
      <xs:element minOccurs="0" name="city" type="xs:string"/>
      <xs:element minOccurs="0" name="zipCode" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="orderItem">
    <xs:sequence>
      <xs:element name="articleId" type="xs:long"/>
      <xs:element name="count" type="xs:int"/>
      <xs:element name="unitPrice" type="xs:double"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="order" type="tns:order"/>
  <xs:complexType name="order">
    <xs:sequence>
      <xs:element minOccurs="0" name="order" type="tns:order"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="orderResponse" type="tns:orderResponse"/>
  <xs:complexType name="orderResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="string" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="orderResponse">
    <wsdl:part name="parameters" element="tns:orderResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="order">
    <wsdl:part name="parameters" element="tns:order">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="ShopServicePortType">
    <wsdl:operation name="order">
      <wsdl:input name="order" message="tns:order">
    </wsdl:input>
      <wsdl:output name="orderResponse" message="tns:orderResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ShopServiceSoapBinding" type="tns:ShopServicePortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="order">
      <soap:operation soapAction="order" style="document"/>
      <wsdl:input name="order">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="orderResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ShopService">
    <wsdl:port name="ShopServicePort" binding="tns:ShopServiceSoapBinding">
      <soap:address location="http://localhost:8080/switchyard-integration-course/ShopService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
